.PrtflAppWrapper {  
  font-family: 'Share Tech', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-size: 60%;
  box-sizing: border-box;
  background-color: gray;
  margin: 0;
  padding: 0;
  position: relative;
  flex-direction: column;
  width: 100%;
  font-family: arial;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
}

.Navbar {
  height: 5rem;
  font-size: 1.7rem;
}


.welcomeSection {
  box-sizing: border-box;
  height: 100vh;
  background: url("../src/images/NodeJSReact.jpeg");
  background-size: cover;
  width: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: -3rem;
}

.projects {
  display: flex;
  flex-direction: row;
  /**background: url("https://i.imgur.com/AQwimm3.gif");*/
  background: url("../src/images/gifs/gif2.gif");
  background-origin: content-box;
  background-repeat: space;
  /**background: url("https://miro.medium.com/max/1400/1*CpDidbInbG4Er_0j_hknFQ.jpeg");*/
  height: 200vh;
  justify-content: center;
  align-items: center;
}
